<br><br>
<a ui-sref="upload" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">PREFERENCIAS</a>
<br><br>
<a ui-sref="upload" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">NOTAS GENERAL</a>
<br><br>
<a ui-sref="upload" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">SUBIR NOTAS</a>
<br><br>
<a ui-sref="upload" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">SUBIR LOTE DE NOTAS</a>