<h1>{{ message }}</h1>
<form ng-submit="upload()">
	<div class="mdl-textfield mdl-js-textfield">
		<select class="mdl-select__input" id="grade_id">
			<option value="">Seleccione el ciclo</option>
			<option value="1">I</option>
			<option value="2">II</option>
	</div>
	<div class="mdl-textfield mdl-js-textfield">
		<input class="mdl-textfield__input" type="file" id="file">
	</div>
	<br>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">SUBIR</button>
</form>